.menu-1 {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

.btn-go-submit {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}
html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}
.con {
  width: 1200px;
}
.con-min-width {
  min-width: 1200px;
}
.top-bar {
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 99;
}

.menu-1 > ul > li > a {
  position: relative;
  margin: 0 10px;
}
.top-bar .menu-1 > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: black;
  transition: width 0.3s;
}
.menu-1 > ul > li:hover > a::after {
  width: 100%;
}

.menu-1 > ul > li > div {
  position: absolute;
  display: none;
  left: 0;
  top: 100%;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  transform: translatey(1px);
  z-index: 3;
}

.menu-1 > ul > li:hover > div {
  display: block;
  text-align: center;
}
.menu-1 > ul > li > div ul > li > a {
  display: inline-block;
  text-align: center;
}

.menu-2 > li > a {
  font-size: 18px;
  padding: 20px 0px;
}
.menu-2 > li > a:hover {
  font-size: 18px;
  text-decoration: underline;
}
.menu-2 > li > ul > li > a {
  width: auto;
  font-size: 14px;
}
.menu-2 > li > ul > li:hover > a {
  text-decoration: underline;
}
.ot {
  text-decoration: underline;
}

.menu-2 > li > ul > li > a:active {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  margin: -2px;
}
.menu-2 > li > ul > li {
  width: auto;
  margin: 0px 0px 24px;
  font-size: 14px;
}
