
  .menu-1{
    font-family : "GmarketSansMedium";
    text-underline-position: under;
  }
  
  .btn-go-submit{
    font-family : "GmarketSansMedium";
    text-underline-position: under;
  }
  html > body{
    font-family : 'GmarketSansMedium';
    text-underline-position: under;
  }
  .con{
    width:1080px;
  }
  .con-min-width{
    min-width:1080px;
  }
  .top-bar{
    position: relative;
  }
  .menu-1 > ul > li > a {
    position: relative;
  }
  .menu-1 > ul > li > a::after {
    content:"";
    position: absolute;
    bottom:0;
    left: 0;
    width:0;
    height:4px;
    background-color:black;
    transition: width .3s;
  }
  .menu-1 > ul > li:hover > a::after {
    width:100%;
  }

  .menu-1 > ul > li > div {
    position:absolute;
    display:none;
    left:0;
    top:100%;
    width:100%;
    padding-top:40px;
    padding-bottom:40px;
    background-color:white;
    transform: translatey(1px);
    z-index: 3;
  }
  
.menu-1 > ul > li:hover > div{
  display:block;
}
.menu-1 > ul > li > div ul > li > a {
  display:block;
  text-align: center;
}

.menu-2 > li > a{
  font-size:23px;
  padding:20px 0px;
}
.menu-2 > li > a:hover{
  font-size:23px;
  padding:20px 0px;
  text-decoration:underline;
}
.menu-2 > li > ul > li > a{
  padding: 10px 0px;
  font-size: 18px;
}
.menu-2 > li > ul > li:hover > a{
  text-decoration:underline;
}
